$def with (posts)

<div class="container">
    $if session['user'] == None:
        <h1>Hello CodeWizard</h1>
    $else:
        <h1>Hello $session['user']['name']</h1>

        <div class="col-md-6">

        </div>

        <div class="col-md-6">
            <div class="post-box">
                <form id="post-activity">
                    <textarea name="content" class="post-input" placeholder="What's new $session['user']['name']?"></textarea>
                    <button id="post-button" class="btn btn-raised btn-info waves-effect" type="submit"><span class="mdi mdi-send"></span>Post</button>
                </form>
            </div>

            $for post in posts:
                <div class="post-card">

                    <div class="header">
                        <div class="avatar">
                            <a href="/profile">$post['user']['name']</a>
                        </div>

                    <div class="content">
                        $post['content']
                    </div>
                    <div class="footer">

                    </div>
                    </div>
                </div>


        </div>

</div>

