$def with (page)

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeWizard</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">


</head>
<body>

    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-info">
                <a class="navbar-brand" href="/">CodeWizard</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"> <a class="nav-link" href="/">Home Feed</a><div class="ripple-container"></div></li>
                <li class="nav-item"> <a class="nav-link" href="/discover">Discover</a><div class="ripple-container"></div></li>
                <li class="nav-item"> <a class="nav-link" href="/profile">Profile</a><div class="ripple-container"></div></li>
                <li class="nav-item"> <a class="nav-link" href="/settings">Settings</a><div class="ripple-container"></div></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                $if session['user'] == None:
                    <li class="nav-link"> <a class="btn btn-link waves-effect" href="/login">Login</a></li>
                    <li class="nav-link"> <a class="btn btn-secondary btn-raised waves-effect" href="/register">Register</a></li>
                $else:
                    <li class="nav-link"> <a class="btn btn-link waves-effect" href="/logout" id="logout-link">Logout</a></li>
            </ul>
        </nav>

    </div>
        <br /><br /><br />
        $:page
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script src="static/js/scripty.js"></script>
\
</body>
</html>