<div class="container">
    <h2>Register Account</h2>
    <br/>
    <form id="register-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input autocomplete="off" class="form-control" id="username" name="username" placeholder="Choose a username..."
                   type="text">
        </div>

        <div class="form-group">
            <label for="display_name">Full Name</label>
            <input class="form-control" id="display_name" name="name" placeholder="Enter your full name..." type="text">
         </div>

        <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input class="form-control" id="emailAddress" name="email" placeholder="Enter your email address..."
                   type="email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" name="password" placeholder="Choose a password..." type="password">
        </div>
        <button class="btn btn-raised btn-info waves-effect ripple" id="reg-submit" type="submit">Submit<div class="ripple-container"></div> </button>
    </form>

</div>